<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <img class="Golden_border" src="./Gold_Elegant_Appreciation_Certificate-removebg-preview.png">
    <img class="logo" src="logo.ico">
    <h1>CERTIFICATE</h1>
    <h2>OF APPRECIATION</h2>
    <h3>THE FOLLOWING AWARD IS GIVEN TO</h3>
    <h4><%= locals.student %></h4>
    <img class="Golden_row" src="./row.png">
    <p>This certificate is given to <%= locals.student %>
        for his/her achievement in “<%=locals.Cname %>” on <%= locals.CDate %></p>
    <img class="Golden_ring" src="./ring.png">
    <h5 class="Head_of_event">Head of Event</h5>
    <h5 class="Stamp">Principal</h5>
    <h6><%= locals.Rank %></h6>
</body>
</html>